<!DOCTYPE html>
{% load static %}
<html class="has-background-white-bis">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'LaimaTema/css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
        crossorigin="anonymous" />
    <script type="text/javascript" src="{% static 'LaimaTema/js/nav-span.js' %}"></script>
</head>

<body>

    <section class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="level">
                    <div class="level-left">
                        <div class="container">
                            <a href="{% url 'home' %}"><h1 class="title is-1 has-text-danger">LaimaTema</h1></a>
                            <h2 class="subtitle has-text-white-ter">ทำให้การขายของออนไลน์ของคุณเป็นเรื่องง่าย!</h2>
                            <a href="{% url 'signup' %}"><button class="button is-danger is-light">ลงทะเบียน</button></a>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="box container">
                            {% block login %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-medium">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-ancestor">
                    <div class="tile is-4 is-vertical is-parent">
                        <div class="tile is-child box">
                            <p class="title">LaimaTema คือ?</p>
                            <p>ผู้ช่วยให้พ่อค้าแม่ขาย ที่ขายของออนไลน์ลดขั้นตอนการจัดการรายการสินค้าให้ง่ายยิ่งขึ้น</p>
                        </div>
                        <div class="tile is-child box">
                            <p class="title">ช่องทางติดต่อ</p>
                            <p><strong>ที่อยู่:</strong> ตำบล ธาตุ อำเภอวารินชำราบ อุบลราชธานี 34190</p>
                            <p><strong>โทรศัพท์:</strong> <a href="tel://0999999999">0999999999</a></p>
                            <p><strong>Fax:</strong> 0xxxxxxxxx</p>
                            <p><strong>Email:</strong> <a href="mailto:xxxxxxxxxx@laimatema.com">xxxxxxxxxx@laimatema.com</a></p>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <iframe class="tile is-child box" width="100%" height="500" src="https://www.youtube.com/embed/yVm-JQ59RLE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>LaimaTema</strong> by <a href="mailto:thanet.si.62@ubu.ac.th" class="has-text-danger">Thanet
                    Siriboon</a>.
            </p>
        </div>
    </footer>

</body>

</html>