{% extends "OrderManagement/base.html" %}

{% block title %}ออเดอร์ทั้งหมด{% endblock %}

{% block content %}
  <div class="section">
    <div class="container">
      <div class="columns">
        <main class="column main">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div class="title">ออเดอร์ทั้งหมด</div>
              </div>
            </div>
          </div>

          <div class="box columns is-multiline">
            <div class="column">
              <table class="table is-hoverable is-striped is-narrow is-fullwidth">
                <thead>
                  <tr>
                    <th>OrderID</th>
                    <th>ผู้ซื้อ</th>
                    <th>สินค้า</th>
                    <th>สถานะ</th>
                    <th>รายละเอียด</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>OrderID</th>
                    <th>ผู้ซื้อ</th>
                    <th>สินค้า</th>
                    <th>สถานะ</th>
                    <th>รายละเอียด</th>
                  </tr>
                </tfoot>

                <tbody>

                  <tr>
                    <th>1</th>
                    <td>นายดำ กินไก่</td>
                    <td>กัญชา</td>
                    <td>รอจัดส่ง</td>
                    <td>
                      <a class="has-text-danger">
                        <span class="icon is-small">
                          <i class="fas fa-edit"></i>
                        </span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>นางแดง กินวัว</td>
                    <td>ม้า</td>
                    <td>รอผู้ซื้อทำรายการ</td>
                    <td>
                      <a class="has-text-danger">
                        <span class="icon is-small">
                          <i class="fas fa-edit"></i>
                        </span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>นางขาว กินแมว</td>
                    <td>รถถัง</td>
                    <td>จัดส่งแล้ว</td>
                    <td>
                      <a class="has-text-danger">
                        <span class="icon is-small">
                          <i class="fas fa-edit"></i>
                        </span>
                      </a>
                    </td>
                  </tr>

                </tbody>
              </table>

              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a class="pagination-previous">หน้าที่แล้ว</a>
                <a class="pagination-next">หน้าถัดไป</a>
                <ul class="pagination-list">
                  <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                  <li><span class="pagination-ellipsis">&hellip;</span></li>
                  <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                  <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                  <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                  <li><span class="pagination-ellipsis">&hellip;</span></li>
                  <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                </ul>
              </nav>
            </div>
          </div>

        </main>
      </div>
    </div>
  </div>
{% endblock %}