<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta name="robots" content="noindex,nofollow" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">

  <title>Free Admin Dashboard Template Build with Bulma.io By Irfan Maulana</title>

  <link rel="stylesheet" href="{% static 'OrderManagement/css/bulma.css' %}">
  <script type="text/javascript" src="{% static 'OrderManagement/js/web-event.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
    crossorigin="anonymous" />

</head>

<body>

  <header class="hero">
    <div class="hero-head">
      <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

          <a class="navbar-item is--brand" href="/">
            <h2 class="title has-text-danger">LaimaTema</h2>
          </a>

          <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </button>

        </div>

        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <a class="navbar-item is-tab" href="#"><span class="icon is-medium"><i
                  class="fas fa-tachometer-alt"></i></span>Dashboard</a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"><span class="icon is-medium"><i class="fas fa-cash-register"></i></span>
                Sell Order
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  เพิ่มออเดอร์
                </a>
                <a class="navbar-item">
                  ที่ต้องจัดส่ง
                </a>
                <a class="navbar-item">
                  จัดส่งแล้ว
                </a>
                <a class="navbar-item">
                  ออเดอร์ทั้งหมด
                </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"><span class="icon is-medium"><i class="fas fa-shopping-cart"></i></span>
                Buy Order
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  ส่งแล้ว
                </a>
                <a class="navbar-item">
                  รอผู้ขายจัดส่ง
                </a>
                <a class="navbar-item">
                  ออเดอร์ทั้งหมด
                </a>
              </div>

            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <figure class="image" style="margin-right:.5em;">
                  <i class="fas fa-user-circle"></i>
                </figure>
                Hi!&nbsp;<strong>{{ user }}</strong>
              </a>

              <div class="navbar-dropdown is-right">
                <a class="navbar-item">
                  <span class="icon is-small">
                    <i class="fa fa-user-cog"></i>
                  </span>
                  &nbsp; Profile
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="{% url 'logout' %}">
                  <span class="icon is-small">
                    <i class="fa fa-power-off"></i>
                  </span>
                  &nbsp; Logout
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="section">
    <div class="container">
      <div class="columns">
        <main class="column main">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div class="title"><i class="fa fa-tachometer-alt"></i> Dashboard</div>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <button type="button" class="button is-small">
                  26 September 2563 15:15:15
                </button>
              </div>
            </div>
          </div>

          <div class="columns is-multiline">

            <div class="column is-6">
              <div class="box notification is-primary">
                <div class="heading">รายได้ทั้งหมด</div>
                <div class="title">56,950&nbsp;บาท</div>
                <div class="level is-mobile">
                  <div class="level-item">
                    <div class="">
                      <div class="heading">ออเดอร์ทั้งหมด</div>
                      <div class="title is-5">999</div>
                    </div>
                  </div>
                  <div class="level-item">
                    <div class="">
                      <div class="heading">ออเดอร์ที่จัดส่ง</div>
                      <div class="title is-5">979</div>
                    </div>
                  </div>
                  <div class="level-item">
                    <div class="">
                      <div class="heading">ออเดอร์ถูกยกเลิก / ไม่สำเร็จ</div>
                      <div class="title is-5">20</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="box notification is-warning">
                <div class="heading">รายจ่ายทั้งหมด</div>
                <div class="title">1,200&nbsp;บาท</div>
                <div class="level is-mobile">
                  <div class="level-item">
                    <div class="">
                      <div class="heading">ออเดอร์ซื้อทั้งหมด</div>
                      <div class="title is-5">50</div>
                    </div>
                  </div>
                  <div class="level-item">
                    <div class="">
                      <div class="heading">อยู่ระหว่างจัดส่ง</div>
                      <div class="title is-5">8</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="box notification is-link">
                <div class="heading">รายได้เดือนนี้</div>
                <div class="title">10,555&nbsp;บาท</div>
                <div class="level is-mobile">
                  <div class="level-item">
                    <div class="">
                      <div class="heading">ออเดอร์เดือนนี้</div>
                      <div class="title is-5">100</div>
                    </div>
                  </div>
                  <div class="level-item">
                    <div class="">
                      <div class="heading">ออเดอร์ที่จัดส่ง</div>
                      <div class="title is-5">98</div>
                    </div>
                  </div>
                  <div class="level-item">
                    <div class="">
                      <div class="heading">ออเดอร์ถูกยกเลิก / ไม่สำเร็จ</div>
                      <div class="title is-5">2</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="box notification is-danger">
                <div class="heading">ออเดอร์ที่สำเร็จ / ออเดอร์ที่ไม่สำเร็จ</div>
                <div class="title">98% / 2%</div>
                <div class="level is-mobile">
                  <div class="level-item">
                    <div class="">
                      <div class="heading">จำนวนเงินที่ได้</div>
                      <div class="title is-5">56,950&nbsp;บาท</div>
                    </div>
                  </div>
                  <div class="level-item">
                    <div class="">
                      <div class="heading">จำนวนเงินที่ไม่ได้</div>
                      <div class="title is-5">2,050&nbsp;บาท</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </main>
      </div>
    </div>
  </div>

  <footer class="footer has-background-white">
    <div class="content has-text-centered">
        <p>
            <strong>LaimaTema</strong> by <a href="mailto:thanet.si.62@ubu.ac.th" class="has-text-danger">Thanet
                Siriboon</a>.
        </p>
    </div>
</footer>

</body>

</html>