{% extends "OrderManagement/base.html" %}

{% block title %}ค้นหาออเดอร์{% endblock %}

{% block content %}
  <div class="section">
    <div class="container">
      <div class="columns">
        <main class="column main">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div class="title">ค้นหาออเดอร์</div>
              </div>
            </div>
          </div>

          <div class="box columns is-multiline">
            <div class="column is-">
              <form method="GET">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ค้นหาจาก</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control has-icons-left">
                        <span class="select is-fullwidth">
                          <select name="searchBy">
                            <option value="1" {% if searchBy == '1' %}selected{% endif %}>OrderID</option>
                            <option value="2" {% if searchBy == '2' %}selected{% endif %}>ชื่อผู้ซื้อ</option>
                          </select>
                        </span>
                        <span class="icon is-small is-left">
                          <i class="fas fa-search"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field has-addons">
                      <p class="control is-expanded has-icons-left">
                        <input class="input" type="text" name="keyword" placeholder="คำค้นหา" {% if keyword %}value="{{ keyword }}"{% endif %}>
                        <span class="icon is-small is-left">
                          <i class="fas fa-align-justify"></i>
                        </span>
                      </p>
                      <div class="control">
                        <button type="submit" class="button is-danger">
                          ค้นหา
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          {% if orders %}
          <div class="box field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body columns">
              <div class="column">
              <table class="table is-hoverable is-striped is-narrow is-fullwidth">
                <thead>
                  <tr>
                    <th>OrderID</th>
                    <th>ผู้ซื้อ</th>
                    <th>สินค้า</th>
                    <th>สถานะ</th>
                    <th>รายละเอียด</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>OrderID</th>
                    <th>ผู้ซื้อ</th>
                    <th>สินค้า</th>
                    <th>สถานะ</th>
                    <th>รายละเอียด</th>
                  </tr>
                </tfoot>

                <tbody>

                  {% for order in orders %}
                  <tr>
                    <th>{{ order.id }}</th>
                    {% if order.buyerName == '' %}
                    <td>รอผู้ซื้อกรอกข้อมูล</td>
                    {% else %}
                    <td>{{ order.buyerName }}</td>
                    {% endif %}
                    <td>{{ order.productName }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>
                      <a class="has-text-danger" href="{% url 'OrderDetail' order.id %}" target="_blank">
                        <span class="icon is-small">
                          <i class="fas fa-edit"></i>
                        </span>
                      </a>
                    </td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
              
            </div>
            </div>
          </div>
          {% endif %}

        </main>
      </div>
    </div>
  </div>
{% endblock %}