{% extends "OrderManagement/base.html" %}

{% block title %}รอจัดส่ง{% endblock %}

{% block content %}
  <div class="section">
    <div class="container">
      <div class="columns">
        <main class="column main">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div class="title">รอจัดส่ง</div>
              </div>
            </div>
          </div>

          <div class="box columns is-multiline">
            <div class="column">
              <table class="table is-hoverable is-striped is-narrow is-fullwidth">
                <thead>
                  <tr>
                    <th>OrderID</th>
                    <th>ผู้ซื้อ</th>
                    <th>สินค้า</th>
                    <th>เพิ่มข้อมูลจัดส่ง</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>OrderID</th>
                    <th>ผู้ซื้อ</th>
                    <th>สินค้า</th>
                    <th>เพิ่มข้อมูลจัดส่ง</th>
                  </tr>
                </tfoot>

                <tbody>

                  {% for order in orders %}
                  <tr>
                    <th>{{ order.id }}</th>
                    {% if order.buyerName == '' %}
                    <td>รอผู้ซื้อกรอกข้อมูล</td>
                    {% else %}
                    <td>{{ order.buyerName }}</td>
                    {% endif %}
                    <td>{{ order.productName }}</td>
                    <td>
                      <a class="has-text-danger" href="{% url 'OrderDetail' order.id %}" target="_blank">
                        <span class="icon is-small">
                          <i class="fas fa-edit"></i>
                        </span>
                      </a>
                    </td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>

              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if orders.has_previous %}
                <a class="pagination-previous button is-danger is-light" href="?page=1">&laquo; หน้าแรก</a>
                {% endif %}
                {% if orders.has_next %}
                <a class="pagination-next button is-danger is-light" href="?page={{ orders.paginator.num_pages }}">หน้าสุดท้าย &raquo;</a>
                {% endif %}
                <ul class="pagination-list">
                  {% if orders.has_previous %}
                  <li><a class="pagination-link" href="?page={{ orders.previous_page_number }}">&langd; หน้าที่แล้ว</a></li>
                  {% endif %}
                  <li><a class="pagination-link is-current" aria-current="page">{{ orders.number }} จาก {{ orders.paginator.num_pages }} หน้า</a></li>
                  {% if orders.has_next %}
                  <li><a class="pagination-link" href="?page={{ orders.next_page_number }}">หน้าถัดไป &rangd;</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>

        </main>
      </div>
    </div>
  </div>
{% endblock %}